
    <header>
        <nav>
            <ul>
                <a href="index.html">
                    <li>Ver Productos</li>
                </a>
                <a href="consultar.html">
                    <li>Consultar ID</li>
                </a>
                <a href="crear.html">
                    <li>Crear Productos</li>
                </a>
                <a href="eliminar.html">
                    <li>Eliminar Productos</li>
                </a>
                <a href="modificar.html">
                    <li>Modificar Productos</li>
                </a>
            </ul>
        </nav>
    </header>
<h1><%= about %></h1>
<hr>